@import "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.1/build/styles/hybrid.min.css";

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  --header-height: 60px;
  --menu-width: 200px;
  --header-background: black;
  --link-color: rgb(120, 120, 120);
  --link-hover-color: rgb(80, 80, 80);
}

body.angular {
  --header-background: rgb(223, 0, 53);
  --link-color: rgb(160, 0, 0);
  --link-hover-color: rgb(223, 0, 53);
}

body.react {
  --header-background: rgb(94, 218, 250);
  --link-color: rgb(66, 149, 170);
  --link-hover-color: rgb(94, 218, 250);
}

body.vue {
  --header-background: rgb(58, 184, 132);
  --link-color: rgb(40, 131, 94);
  --link-hover-color: rgb(58, 184, 132);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.9em;
  line-height: 1.4;
}

html, body * {
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
}

.page-menu {
  position: fixed;
  width: var(--menu-width);
  top: var(--header-height);
  left: calc(50% - 600px);
  overflow: auto;
  max-height: calc(100vh - var(--header-height));
  transition: transform 300ms ease;
}

.page-content {
  max-width: 768px;
  margin: auto;
  padding-top: calc(var(--header-height) + 20px);
}

.page-header {
  position: fixed;
  height: var(--header-height);
  top: 0;
  background: var(--header-background);
  width: 100%;
  color: white;
  z-index: 2;
}

.page-header .header-content {
  display: flex;
  max-width: 768px;
  margin: 0 auto;
  align-items: center;
  padding: 0 1em;
  height: 100%;
}

.page-header .header-content .toggle-menu {
  margin-left: -1em;
  flex-shrink: 0;
}

.toggle-menu {
  display: none;
  background: white;
  mask: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iMzJweCIgaWQ9IkxheWVyXzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDMyIDMyOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMzIgMzIiIHdpZHRoPSIzMnB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cGF0aCBkPSJNNCwxMGgyNGMxLjEwNCwwLDItMC44OTYsMi0ycy0wLjg5Ni0yLTItMkg0QzIuODk2LDYsMiw2Ljg5NiwyLDhTMi44OTYsMTAsNCwxMHogTTI4LDE0SDRjLTEuMTA0LDAtMiwwLjg5Ni0yLDIgIHMwLjg5NiwyLDIsMmgyNGMxLjEwNCwwLDItMC44OTYsMi0yUzI5LjEwNCwxNCwyOCwxNHogTTI4LDIySDRjLTEuMTA0LDAtMiwwLjg5Ni0yLDJzMC44OTYsMiwyLDJoMjRjMS4xMDQsMCwyLTAuODk2LDItMiAgUzI5LjEwNCwyMiwyOCwyMnoiLz48L3N2Zz4=) no-repeat center;
  -webkit-mask: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iMzJweCIgaWQ9IkxheWVyXzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDMyIDMyOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMzIgMzIiIHdpZHRoPSIzMnB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cGF0aCBkPSJNNCwxMGgyNGMxLjEwNCwwLDItMC44OTYsMi0ycy0wLjg5Ni0yLTItMkg0QzIuODk2LDYsMiw2Ljg5NiwyLDhTMi44OTYsMTAsNCwxMHogTTI4LDE0SDRjLTEuMTA0LDAtMiwwLjg5Ni0yLDIgIHMwLjg5NiwyLDIsMmgyNGMxLjEwNCwwLDItMC44OTYsMi0yUzI5LjEwNCwxNCwyOCwxNHogTTI4LDIySDRjLTEuMTA0LDAtMiwwLjg5Ni0yLDJzMC44OTYsMiwyLDJoMjRjMS4xMDQsMCwyLTAuODk2LDItMiAgUzI5LjEwNCwyMiwyOCwyMnoiLz48L3N2Zz4=) no-repeat center;
  width: 50px;
  height: 50px;
}

.page-header h3 {
  flex-grow: 1;
  margin: 0 1em 0 0;
}

.page-header ul {
  display: flex;
  justify-self: flex-end;
}

.page-header ul li {
  margin: 0 0.5em;
}

.page-header ul li a {
  color: white;
  opacity: 0.7;
}

.page-header ul li.active a {
  opacity: 1;
  font-weight: bold;
}

.post {
  margin: auto;
  padding: 0 1em;
}

.post p,
.post li {
  line-height: 1.6;
  text-align: justify;
}

.post p.image {
  text-align: center;
  font-size: 0.8em;
}

.post img {
  display: block;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin: 1em auto;
  max-width: 100%;
}

.post table {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-spacing: 0;
  font-size: .9em;
  display: block;
  overflow-x: auto;
  max-width: 100%;
}

.post thead th {
  background-color: rgb(230, 230, 230);
  padding: 1em;
}

.post tbody td {
  padding: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, .15);
  background-color: white;
}

.post thead th,
.post tbody td {
  width: 5%;
}

.post thead th:first-child,
.post tbody td:first-child {
  width: 20%;
  position: sticky;
  left: 0;
  border-right: 1px solid rgba(0, 0, 0, .15);
}

.post .header-anchor {
  color: black;
  opacity: 0.1;
  text-decoration: none;
}

.post .header-anchor:hover {
  opacity: 0.3;
}

.post-list {
  padding: 1em;
}

.post-list li.active > a {
  font-weight: bold;
}

.post-list li ul {
  padding: 0 1em;
}

.post-list li ul li {
  margin: 0.5em 0;
}

.page-header a,
.page-header a:visited {
  text-decoration: none;
  color: white;
}

.post-list li,
.page-header li {
  list-style: none;
  margin: 1em 0;
}

.post-list li a,
.page-header li a {
  color: black;
  text-decoration: none;
}

.post a,
.post a:visited {
  text-decoration: none;
  color: var(--link-color);
  font-weight: 500;
}

.post a:hover,
.post a:visited:hover {
  color: var(--link-hover-color);
}

sup {
  font-size: 0.7em;
}

.post [id]::before {
  content: '';
  display: block;
  height: var(--header-height);
  margin-top: calc(var(--header-height) * -1);
  visibility: hidden;
}

.post pre {
  display: block;
  background-color: rgb(50, 50, 50);
  color: white;
  border-radius: 4px;
  padding: 1em;
  width: 100%;
  overflow: auto;
  max-height: 500px;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, .5);
}

.post :not(pre) code {
  background-color: rgba(255, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.75);
  display: inline-block;
  padding: 0 0.2em;
  border-radius: 4px;
}

select {
  -webkit-appearance: none;
  border: none;
  color: white;
  font-size: 1em;
  outline: none;
  background-color: rgba(255, 255, 255, 0.15);
  background-repeat: no-repeat;
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position: right 15px top 50%, right 10px top 50%;
  background-size: 5px 5px, 5px 5px;
  border-radius: 4px;
  padding: 0.5em;
  padding-right: 30px;
}

hr + p:last-child {
  font-size: 0.9em;
  text-align: left;
}

@media screen and (max-width: 1168px) {
  .page-menu {
    left: 0;
  }

  .page-content,
  .page-header .header-content {
    margin-left: var(--menu-width);
  }
}

@media screen and (max-width: 968px) {

  .page-content,
  .page-header .header-content {
    margin: auto;
  }

  .toggle-menu {
    display: block;
  }

  .page-menu {
    transform: translateX(-100%);
    width: 100%;
    left: 0;
    height: calc(100vh - var(--header-height));
    max-height: none;
    color: white;
    background-color: rgb(50, 50, 50);
    z-index: 1;
  }

  body.menu-open .page-menu {
    transform: none;
  }

  .post-list li a {
    color: white;
  }
}

@media screen and (max-width: 400px) {
  .page-header h3 {
    font-size: 0.8em;
  }

  .page-header select {
    font-size: 0.8em;
  }
}
