<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="og:title" content="{{ title }}">
  <meta property="og:type" content="website">
  <link rel="icon" href="/favicon.ico">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ backendUrl }}/style.css">
</head>
<body class="vue">
<!--vue-ssr-outlet-->
<script>window.VUE_HTTP_CACHE = VUE_HTTP_CACHE_OUTLET</script>
</body>
</html>
